


body{
    font-size: 1.125rem;
    color: #707070;
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 300;
    
}

iframe,
img{
    max-width:100%;
    display: block;
}

img{
    height:200;
    width:500;


}


/*Typography*/
h2,
h3{
    font-family: 'Lora', serif;
    font-weight: 400;
    color: #143774;

}

a{
    color: #1792d2;
}

a:hover,
a:focus{
    color: #143774;
}

.article-title{
    font-size: 1.5rem;
}


.article-read-more{
    color: #1792d2;
    text-decoration: none;
    font-weight:700;
    font-size:.875rem;
}

.article-read-more:hover,
.article-read-more:focus{
    color:#143774;
    text-decoration: underline;
}



/* Navigation-Homepage */

.container{
    width: 90%;
    max-width: 900px;
    margin: 0 auto;
}
.container-flex{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}



header {
    background:#f8f8f8;
    padding: 2em 0;
    text-align: center;
}

footer{
    background: #143774;
    color:white;
    text-align: center;
    padding:3em 0;
}

@media (min-width:675px){
    .container-flex{
        flex-direction: row;
    }
    main {
        width: 70%;
    }
    
    aside{
        width:25%;
        min-width:200px;
    }
}



h1{
    font-family: 'Lora', serif;
    font-weight: 400;
    font-size: 2rem;
    color: #143774;
    text-align: center;
    margin: 0;
    
}

h1 span{
    color: #b7832f;
}

nav ul{
    list-style: none;
    padding:0;
    display:flex;
    justify-content: center;
}

nav li{
    margin-left: 2em;
}
nav a{
    text-decoration: none;
    color: #707070;
    font-weight: 700;
    padding: .25em 0;
}

nav a:hover,
nav a:focus { 
    color: #1792d2; 

}



/*article*/
.article-featured{
    border-bottom: #707070 1px solid;
    padding: 1em;
    margin-bottom: 2em;

}


/*widget*/

.sidebar{
    border: 20px solid #efefef;
    margin-bottom: 2em;
    margin-top: 1em;
    margin-left: 1em;
}







